<h1>Generate</h1>

<%= turbo_frame_tag "qrcode_generate" do %>
  <div>
    <%= form_with url: qrcode_generate_url, method: :get do |form| %>
      <%= form.label :query, "#{I18n.t("qrcode.content.input")}:" %>
      <%= form.text_field :query %>
      <%= form.submit I18n.t("qrcode.content.submit") %>
    <% end %>

  </div>

  <div>
    <%== @svg %>
  </div>
<% end %>